In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.legend import Legend
import matplotlib.patches as mpatches
import seaborn as sns
#from statsmodels.graphics.mosaicplot import mosaic
import io
import requests

%matplotlib inline

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import tree

from sklearn.metrics import log_loss

In [80]:
url="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Train_TP2_Datos_2020-2C.csv"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')),

#df = pd.read_csv('Entrenamieto_ECI_2020.csv',
dtype={
'ID': np.int64,
'Pricing, Delivery_Terms_Quote_Approval': np.int64,
'Pricing, Delivery_Terms_Approved': np.int64,
'Bureaucratic_Code_0_Approval': np.int64,
'Bureaucratic_Code_0_Approved': np.int64,
'Submitted_for_Approval': np.int64,
'Opportunity_ID': np.int64,
#'Sales_Contract_No': np.int64,
'Delivery_Year': np.int64,
'Total_Power': np.int64,
#'Price':np.float64,
'ASP':np.float64,
'ASP_(converted)':np.float64,
'Total_Amount':np.float64},
parse_dates=[
'Account_Created_Date',
'Planned_Delivery_Start_Date',
'Planned_Delivery_End_Date',
'Opportunity_Created_Date',
'Last_Activity',
'Quote_Expiry_Date',
'Actual_Delivery_Date',
'Last_Modified_Date'
])

df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,2015-06-16,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,2015-06-16,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

## Conversion de "Delivery_Quarter" variable que indica el trimestre del limite inferior del rango previsto para la fecha de entrega

In [81]:
df['Delivery_Quarter'].value_counts()

Q2    4443
Q1    4317
Q4    4144
Q3    4043
Name: Delivery_Quarter, dtype: int64

In [82]:
df['Delivery_Quarter']=df['Delivery_Quarter'].str.slice(start=-1).astype(float)
df['Delivery_Quarter'].value_counts()

2.0    4443
1.0    4317
4.0    4144
3.0    4043
Name: Delivery_Quarter, dtype: int64

In [83]:
df_paso = pd.DataFrame()

In [84]:
 df_paso['Account_Created_Date_Day'] = df['Account_Created_Date'].dt.day
 df_paso['Account_Created_Date_Month'] = df['Account_Created_Date'].dt.month
 df_paso['Account_Created_Date_Year'] = df['Account_Created_Date'].dt.year

 df_paso['Opportunity_Created_Date_Day'] = df['Opportunity_Created_Date'].dt.day
 df_paso['Opportunity_Created_Date_Month'] = df['Opportunity_Created_Date'].dt.month
 df_paso['Opportunity_Created_Date_Year'] = df['Opportunity_Created_Date'].dt.year

 df_paso['Last_Activity_Day'] = df['Last_Activity'].dt.day
 df_paso['Last_Activity_Month'] = df['Last_Activity'].dt.month
 df_paso['Last_Activity_Year'] = df['Last_Activity'].dt.year

 df_paso['Quote_Expiry_Date_Day'] = df['Quote_Expiry_Date'].dt.day
 df_paso['Quote_Expiry_Date_Month'] = df['Quote_Expiry_Date'].dt.month
 df_paso['Quote_Expiry_Date_Year'] = df['Quote_Expiry_Date'].dt.year

 df_paso['Last_Modified_Date_Day'] = df['Last_Modified_Date'].dt.day
 df_paso['Last_Modified_Date_Month'] = df['Last_Modified_Date'].dt.month
 df_paso['Last_Modified_Date_Year'] = df['Last_Modified_Date'].dt.year

 df_paso['Planned_Delivery_Start_Date_Day'] = df['Planned_Delivery_Start_Date'].dt.day
 df_paso['Planned_Delivery_Start_Date_Month'] = df['Planned_Delivery_Start_Date'].dt.month
 df_paso['Planned_Delivery_Start_Date_Year'] = df['Planned_Delivery_Start_Date'].dt.year

 df_paso['Planned_Delivery_End_Date_Day'] = df['Planned_Delivery_End_Date'].dt.day
 df_paso['Planned_Delivery_End_Date_Month'] = df['Planned_Delivery_End_Date'].dt.month
 df_paso['Planned_Delivery_End_Date_Year'] = df['Planned_Delivery_End_Date'].dt.year

 df_paso['Actual_Delivery_Date_Day'] = df['Actual_Delivery_Date'].dt.day
 df_paso['Actual_Delivery_Date_Month'] = df['Actual_Delivery_Date'].dt.month
 df_paso['Actual_Delivery_Date_Year'] = df['Actual_Delivery_Date'].dt.year

In [85]:
df_paso

,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_Created_Date_Day,Opportunity_Created_Date_Month,Opportunity_Created_Date_Year,Last_Activity_Day,Last_Activity_Month,Last_Activity_Year,Quote_Expiry_Date_Day,...,Last_Modified_Date_Year,Planned_Delivery_Start_Date_Day,Planned_Delivery_Start_Date_Month,Planned_Delivery_Start_Date_Year,Planned_Delivery_End_Date_Day,Planned_Delivery_End_Date_Month,Planned_Delivery_End_Date_Year,Actual_Delivery_Date_Day,Actual_Delivery_Date_Month,Actual_Delivery_Date_Year
0,16,6,2015,7,12,2015,NaN,NaN,NaN,30.0,...,2016,1,5,2016,30.0,6.0,2016.0,NaN,NaN,NaN
1,16,6,2015,7,12,2015,NaN,NaN,NaN,20.0,...,2016,18,1,2016,20.0,1.0,2016.0,NaN,NaN,NaN
2,21,4,2015,8,12,2015,NaN,NaN,NaN,30.0,...,2016,25,1,2016,25.0,1.0,2016.0,NaN,NaN,NaN
3,27,7,2013,8,12,2015,NaN,NaN,NaN,NaN,...,2018,1,2,2018,31.0,3.0,2018.0,NaN,NaN,NaN
4,27,7,2013,8,12,2015,NaN,NaN,NaN,2.0,...,2018,1,2,2018,28.0,2.0,2018.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,15,1,2016,4,12,2015,NaN,NaN,NaN,NaN,...,2016,21,3,2016,25.0,3.0,2016.0,NaN,NaN,NaN
16943,15,1,2016,4,12,2015,NaN,NaN,NaN,NaN,...,2016,4,4,2016,8.0,4.0,2016.0,NaN,NaN,NaN
16944,15,1,2016,4,12,2015,NaN,NaN,NaN,NaN,...,2016,28,3,2016,31.0,3.0,2016.0,NaN,NaN,NaN
16945,20,10,2015,5,12,2015,NaN,NaN,NaN,29.0,...,2016,25,4,2016,29.0,4.0,2016.0,NaN,NaN,NaN
16946,3,9,2015,5,12,2015,NaN,NaN,NaN,6.0,...,2016,1,7,2016,31.0,8.0,2016.0,NaN,NaN,NaN

In [86]:
#df.drop(columns='Month','Delivery_Year','Last_Activity','Quote_Expiry_Date', 'Last_Modified_Date', 'Actual_Delivery_Date' , 'Planned_Deliver_Start_Date', 'Planned_Delivery_End_Date', 'Account_Created_Date', 'Opportunity_Created_Date', 'Region', 'Territory', 'Boreucratic_Code', 'Source', 'Billing_Country', '')

In [87]:
 df_paso['Account_Created_Date_Month'] = df_paso['Account_Created_Date_Month']*100
 df_paso['Account_Created_Date_Year'] = df_paso['Account_Created_Date_Year']*10000

 df_paso['Opportunity_Created_Date_Month'] = df_paso['Opportunity_Created_Date_Month']*100
 df_paso['Opportunity_Created_Date_Year'] = df_paso['Opportunity_Created_Date_Year']*10000

 df_paso['Last_Activity_Month'] = df_paso['Last_Activity_Month']*100
 df_paso['Last_Activity_Year'] = df_paso['Last_Activity_Year']*10000

 df_paso['Quote_Expiry_Date_Month'] = df_paso['Quote_Expiry_Date_Month']*100
 df_paso['Quote_Expiry_Date_Year'] = df_paso['Quote_Expiry_Date_Year']*10000

 df_paso['Last_Modified_Date_Month'] = df_paso['Last_Modified_Date_Month']*100
 df_paso['Last_Modified_Date_Year'] = df_paso['Last_Modified_Date_Year']*10000

 df_paso['Planned_Delivery_Start_Date_Month'] = df_paso['Planned_Delivery_Start_Date_Month']*100
 df_paso['Planned_Delivery_Start_Date_Year'] = df_paso['Planned_Delivery_Start_Date_Year']*10000

 df_paso['Planned_Delivery_End_Date_Month'] = df_paso['Planned_Delivery_End_Date_Month']*100
 df_paso['Planned_Delivery_End_Date_Year'] = df_paso['Planned_Delivery_End_Date_Year']*10000

 df_paso['Actual_Delivery_Date_Month'] = df_paso['Actual_Delivery_Date_Month']*100
 df_paso['Actual_Delivery_Date_Year'] = df_paso['Actual_Delivery_Date_Year']*10000

In [88]:
df_paso

,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_Created_Date_Day,Opportunity_Created_Date_Month,Opportunity_Created_Date_Year,Last_Activity_Day,Last_Activity_Month,Last_Activity_Year,Quote_Expiry_Date_Day,...,Last_Modified_Date_Year,Planned_Delivery_Start_Date_Day,Planned_Delivery_Start_Date_Month,Planned_Delivery_Start_Date_Year,Planned_Delivery_End_Date_Day,Planned_Delivery_End_Date_Month,Planned_Delivery_End_Date_Year,Actual_Delivery_Date_Day,Actual_Delivery_Date_Month,Actual_Delivery_Date_Year
0,16,600,20150000,7,1200,20150000,NaN,NaN,NaN,30.0,...,20160000,1,500,20160000,30.0,600.0,20160000.0,NaN,NaN,NaN
1,16,600,20150000,7,1200,20150000,NaN,NaN,NaN,20.0,...,20160000,18,100,20160000,20.0,100.0,20160000.0,NaN,NaN,NaN
2,21,400,20150000,8,1200,20150000,NaN,NaN,NaN,30.0,...,20160000,25,100,20160000,25.0,100.0,20160000.0,NaN,NaN,NaN
3,27,700,20130000,8,1200,20150000,NaN,NaN,NaN,NaN,...,20180000,1,200,20180000,31.0,300.0,20180000.0,NaN,NaN,NaN
4,27,700,20130000,8,1200,20150000,NaN,NaN,NaN,2.0,...,20180000,1,200,20180000,28.0,200.0,20180000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,20160000,21,300,20160000,25.0,300.0,20160000.0,NaN,NaN,NaN
16943,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,20160000,4,400,20160000,8.0,400.0,20160000.0,NaN,NaN,NaN
16944,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,20160000,28,300,20160000,31.0,300.0,20160000.0,NaN,NaN,NaN
16945,20,1000,20150000,5,1200,20150000,NaN,NaN,NaN,29.0,...,20160000,25,400,20160000,29.0,400.0,20160000.0,NaN,NaN,NaN
16946,3,900,20150000,5,1200,20150000,NaN,NaN,NaN,6.0,...,20160000,1,700,20160000,31.0,800.0,20160000.0,NaN,NaN,NaN

In [89]:
df_paso['Account_Created_Date']= df_paso['Account_Created_Date_Day'] + df_paso['Account_Created_Date_Month'] + df_paso['Account_Created_Date_Year']
df_paso['Opportunity_Created_Date']= df_paso['Opportunity_Created_Date_Day'] + df_paso['Opportunity_Created_Date_Month'] + df_paso['Opportunity_Created_Date_Year']
df_paso['Last_Activity']= df_paso['Last_Activity_Day'] + df_paso['Last_Activity_Month'] + df_paso['Last_Activity_Year']
df_paso['Quote_Expiry_Date']= df_paso['Quote_Expiry_Date_Day'] + df_paso['Quote_Expiry_Date_Month'] + df_paso['Quote_Expiry_Date_Year']
df_paso['Last_Modified_Date']= df_paso['Last_Modified_Date_Day'] + df_paso['Last_Modified_Date_Month'] + df_paso['Last_Modified_Date_Year']
df_paso['Planned_Delivery_Start_Date']= df_paso['Planned_Delivery_Start_Date_Day'] + df_paso['Planned_Delivery_Start_Date_Month'] + df_paso['Planned_Delivery_Start_Date_Year']
df_paso['Planned_Delivery_End_Date']= df_paso['Planned_Delivery_End_Date_Day'] + df_paso['Planned_Delivery_End_Date_Month'] + df_paso['Planned_Delivery_End_Date_Year']
df_paso['Actual_Delivery_Date']= df_paso['Actual_Delivery_Date_Day'] + df_paso['Actual_Delivery_Date_Month'] + df_paso['Actual_Delivery_Date_Year']

In [90]:
df_paso

,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_Created_Date_Day,Opportunity_Created_Date_Month,Opportunity_Created_Date_Year,Last_Activity_Day,Last_Activity_Month,Last_Activity_Year,Quote_Expiry_Date_Day,...,Actual_Delivery_Date_Month,Actual_Delivery_Date_Year,Account_Created_Date,Opportunity_Created_Date,Last_Activity,Quote_Expiry_Date,Last_Modified_Date,Planned_Delivery_Start_Date,Planned_Delivery_End_Date,Actual_Delivery_Date
0,16,600,20150000,7,1200,20150000,NaN,NaN,NaN,30.0,...,NaN,NaN,20150616,20151207,NaN,20160130.0,20160613,20160501,20160630.0,NaN
1,16,600,20150000,7,1200,20150000,NaN,NaN,NaN,20.0,...,NaN,NaN,20150616,20151207,NaN,20160120.0,20160115,20160118,20160120.0,NaN
2,21,400,20150000,8,1200,20150000,NaN,NaN,NaN,30.0,...,NaN,NaN,20150421,20151208,NaN,20160930.0,20160929,20160125,20160125.0,NaN
3,27,700,20130000,8,1200,20150000,NaN,NaN,NaN,NaN,...,NaN,NaN,20130727,20151208,NaN,NaN,20180327,20180201,20180331.0,NaN
4,27,700,20130000,8,1200,20150000,NaN,NaN,NaN,2.0,...,NaN,NaN,20130727,20151208,NaN,20170602.0,20180327,20180201,20180228.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,NaN,NaN,20160115,20151204,NaN,NaN,20160119,20160321,20160325.0,NaN
16943,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,NaN,NaN,20160115,20151204,NaN,NaN,20160119,20160404,20160408.0,NaN
16944,15,100,20160000,4,1200,20150000,NaN,NaN,NaN,NaN,...,NaN,NaN,20160115,20151204,NaN,NaN,20160119,20160328,20160331.0,NaN
16945,20,1000,20150000,5,1200,20150000,NaN,NaN,NaN,29.0,...,NaN,NaN,20151020,20151205,NaN,20160229.0,20160122,20160425,20160429.0,NaN
16946,3,900,20150000,5,1200,20150000,NaN,NaN,NaN,6.0,...,NaN,NaN,20150903,20151205,NaN,20160106.0,20160928,20160701,20160831.0,NaN

### verificacion prospectiva de fechas sin datos

In [91]:
df['Last_Activity']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
16942   NaT
16943   NaT
16944   NaT
16945   NaT
16946   NaT
Name: Last_Activity, Length: 16947, dtype: datetime64[ns]

In [92]:
df['Actual_Delivery_Date']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
16942   NaT
16943   NaT
16944   NaT
16945   NaT
16946   NaT
Name: Actual_Delivery_Date, Length: 16947, dtype: datetime64[ns]

In [93]:
df=df.drop(columns='Last_Activity')
df=df.drop(columns='Actual_Delivery_Date')

In [94]:
df['Account_Created_Date']=df_paso['Account_Created_Date']
df['Opportunity_Created_Date']=df_paso['Opportunity_Created_Date']
df['Quote_Expiry_Date']=df_paso['Quote_Expiry_Date']
df['Last_Modified_Date']=df_paso['Last_Modified_Date']
df['Planned_Delivery_Start_Date']=df_paso['Planned_Delivery_Start_Date']
df['Planned_Delivery_End_Date']=df_paso['Planned_Delivery_End_Date']

### Borrado de columnas del tipo category

In [95]:
del df['Region']
del df['Territory']
del df['Bureaucratic_Code']
del df['Billing_Country']
del df['Account_Name']
del df['Opportunity_Name']
del df['Account_Owner']
del df['Opportunity_Owner']
del df['Account_Type']
del df['Opportunity_Type']
del df['Quote_Type']
del df['Delivery_Terms']
del df['Brand']
del df['Product_Type']
del df['Prod_Category_A']
del df['Product_Category_B']
del df['Size']
del df['Currency']
del df['Last_Modified_By']
del df['Product_Family']
del df['Product_Name']
del df['ASP_Currency']
del df['ASP_(converted)_Currency']
del df['Delivery_Quarter']
del df['Total_Taxable_Amount_Currency']

In [96]:
del df['Source ']

In [97]:
del df['Month']

In [98]:
del df['Total_Amount_Currency']

In [99]:
df.replace(to_replace='None', value=np.nan, inplace=True)
df.replace(to_replace='Other', value=np.nan, inplace=True)
df.replace(to_replace=[None], value=np.nan, inplace=True)
df=df.fillna(0)

In [100]:
df_train=df

# CreaciÃ³n de un set de validaciÃ³n

In [101]:
X = df_train.drop(['Stage','Sales_Contract_No'], axis=1)

In [102]:
y = df_train['Stage']

In [103]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = \
    train_test_split(X, y, test_size=0.2, random_state=123)

In [104]:
x_train

,ID,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date,Opportunity_ID,Opportunity_Created_Date,Price,Quote_Expiry_Date,Last_Modified_Date,ASP,ASP_(converted),Planned_Delivery_Start_Date,Planned_Delivery_End_Date,Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount
7440,26744,1,1,0,0,0,20150420,4574,20170907,0,20170907.0,20180208,0.000,0.00000,20170913,20170913.0,2017,0,4400.00,520550.0
12124,11206,1,0,0,0,0,20171207,7383,20180112,0,20180124.0,20180306,0.000,0.00000,20180515,20180515.0,2018,0,475.00,189475.0
8615,26840,1,1,0,0,0,20150420,5378,20170629,0,20170630.0,20180208,0.000,0.00000,20170724,20170724.0,2017,0,4400.00,569800.0
1674,18861,1,1,1,1,0,20140128,1005,20170304,0,20170331.0,20180208,0.350,0.35000,20170315,20170331.0,2017,0,31850.00,31850.0
2069,26333,1,0,0,0,0,20150420,1191,20160212,0,0.0,20161204,75.000,0.67428,20160331,20160331.0,2016,0,4914000.00,6557400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,24309,1,0,0,0,0,20150420,38,20151217,0,0.0,20160405,0.000,0.00000,20160229,20160229.0,2016,0,6200.00,1154600.0
13435,16547,1,1,1,1,0,20130727,8160,20180509,0,20180615.0,20180707,0.330,0.37326,20180625,20180629.0,2018,0,34031.25,71550.0
7763,24538,1,1,0,0,0,20150420,4801,20170502,0,20170508.0,20180208,0.000,0.00000,20170512,20170512.0,2017,0,6200.00,846440.0
15377,7452,1,0,1,0,0,20180830,9778,20181013,0,20181031.0,20181018,0.410,0.41000,20181024,20181024.0,2018,0,29725.00,29725.0
15725,11078,1,0,1,0,0,20170317,10169,20181112,0,20181210.0,20181219,0.235,0.26581,20181119,20181210.0,2018,0,95175.00,207130.2

# Etapa de tuning para determinar el mejor valor de n

In [105]:
from sklearn.neighbors import KNeighborsClassifier

### n=10

In [106]:
neigh_10 = KNeighborsClassifier(n_neighbors=10)

In [107]:
neigh_10.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [108]:
y_pred_probs_10 = neigh_10.predict_proba(x_valid)

In [109]:
log_loss(y_valid, y_pred_probs_10)

0.9861693752294982

### n=100

In [110]:
neigh_100 = KNeighborsClassifier(n_neighbors=100)

In [111]:
neigh_100.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=100)

In [112]:
y_pred_probs_100 = neigh_100.predict_proba(x_valid)

In [113]:
log_loss(y_valid, y_pred_probs_100)

0.5606933995713834

### n=500

In [114]:
neigh_500 = KNeighborsClassifier(n_neighbors=500)

In [115]:
neigh_500.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=500)

In [116]:
y_pred_probs_500 = neigh_500.predict_proba(x_valid)

In [117]:
log_loss(y_valid, y_pred_probs_500)

0.5754163670470906

### n=1000

In [118]:
neigh_1000 = KNeighborsClassifier(n_neighbors=1000)

In [119]:
neigh_1000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1000)

In [120]:
y_pred_probs_1000 = neigh_1000.predict_proba(x_valid)

In [121]:
log_loss(y_valid, y_pred_probs_1000)

0.5886779890875088

### n=3000

In [122]:
neigh_3000 = KNeighborsClassifier(n_neighbors=3000)

In [123]:
neigh_3000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3000)

In [124]:
y_pred_probs_3000 = neigh_3000.predict_proba(x_valid)

In [125]:
log_loss(y_valid, y_pred_probs_3000)

0.6374128191600066

### n=5000

In [126]:
neigh_5000 = KNeighborsClassifier(n_neighbors=5000)

In [127]:
neigh_5000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=5000)

In [128]:
y_pred_probs_5000 = neigh_5000.predict_proba(x_valid)

In [129]:
log_loss(y_valid, y_pred_probs_5000)

0.6524885081004371

## Aumentamos la resoluciÃ³n de la bÃºsqueda entre n=500 y n=3000

### Se realizarÃ¡ a continuaciÃ³n una suerte de bÃºsqueda binaria manual

### n=500

In [130]:
log_loss(y_valid, y_pred_probs_500)

0.5754163670470906

### n=750

In [131]:
neigh_750 = KNeighborsClassifier(n_neighbors=750)

In [132]:
neigh_750.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=750)

In [133]:
y_pred_probs_750 = neigh_750.predict_proba(x_valid)

In [134]:
log_loss(y_valid, y_pred_probs_750)

0.5823607152979816

### n=900

In [135]:
neigh_900 = KNeighborsClassifier(n_neighbors=900)

In [136]:
neigh_900.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=900)

In [137]:
y_pred_probs_900 = neigh_900.predict_proba(x_valid)

In [138]:
log_loss(y_valid, y_pred_probs_900)

0.58630731961849

### n=950

In [139]:
neigh_950 = KNeighborsClassifier(n_neighbors=950)

In [140]:
neigh_950.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=950)

In [141]:
y_pred_probs_950 = neigh_950.predict_proba(x_valid)

In [142]:
log_loss(y_valid, y_pred_probs_950)

0.5873344571136553

### n=975

In [143]:
neigh_975 = KNeighborsClassifier(n_neighbors=975)

In [144]:
neigh_975.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=975)

In [145]:
y_pred_probs_975 = neigh_975.predict_proba(x_valid)

In [146]:
log_loss(y_valid, y_pred_probs_975)

0.5880500525774957

### n=987

In [147]:
neigh_987 = KNeighborsClassifier(n_neighbors=987)

In [148]:
neigh_987.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=987)

In [149]:
y_pred_probs_987 = neigh_987.predict_proba(x_valid)

In [150]:
log_loss(y_valid, y_pred_probs_987)

0.5883514985726841

### n=992

In [151]:
neigh_992 = KNeighborsClassifier(n_neighbors=992)

In [152]:
neigh_992.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=992)

In [153]:
y_pred_probs_992 = neigh_992.predict_proba(x_valid)

In [154]:
log_loss(y_valid, y_pred_probs_992)

0.588470208048815

### n=995

In [155]:
neigh_995 = KNeighborsClassifier(n_neighbors=995)

In [156]:
neigh_995.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=995)

In [157]:
y_pred_probs_995 = neigh_995.predict_proba(x_valid)

In [158]:
log_loss(y_valid, y_pred_probs_995)

0.5885800427418778

### n=997

In [159]:
neigh_997 = KNeighborsClassifier(n_neighbors=997)

In [160]:
neigh_997.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=997)

In [161]:
y_pred_probs_997 = neigh_997.predict_proba(x_valid)

In [162]:
log_loss(y_valid, y_pred_probs_997)

0.5886249991559115

### n=1000

In [163]:
log_loss(y_valid, y_pred_probs_1000)

0.5886779890875088

### n=1005

In [164]:
neigh_1005 = KNeighborsClassifier(n_neighbors=1005)

In [165]:
neigh_1005.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1005)

In [166]:
y_pred_probs_1005 = neigh_1005.predict_proba(x_valid)

In [167]:
log_loss(y_valid, y_pred_probs_1005)

0.5887866153915132

### n=1012

In [168]:
neigh_1012 = KNeighborsClassifier(n_neighbors=1012)

In [169]:
neigh_1012.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1012)

In [170]:
y_pred_probs_1012 = neigh_1012.predict_proba(x_valid)

In [171]:
log_loss(y_valid, y_pred_probs_1012)

0.5889568244084787

### n=1025

In [172]:
neigh_1025 = KNeighborsClassifier(n_neighbors=1025)

In [173]:
neigh_1025.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1025)

In [174]:
y_pred_probs_1025 = neigh_1025.predict_proba(x_valid)

In [175]:
log_loss(y_valid, y_pred_probs_1025)

0.5891162319363847

### n=1050

In [176]:
neigh_1050 = KNeighborsClassifier(n_neighbors=1050)

In [177]:
neigh_1050.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1050)

In [178]:
y_pred_probs_1050 = neigh_1050.predict_proba(x_valid)

In [179]:
log_loss(y_valid, y_pred_probs_1050)

0.5895176833360796

### n=1100

In [180]:
neigh_1100 = KNeighborsClassifier(n_neighbors=1100)

In [181]:
neigh_1100.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1100)

In [182]:
y_pred_probs_1100 = neigh_1100.predict_proba(x_valid)

In [183]:
log_loss(y_valid, y_pred_probs_1100)

0.5824684420017497

### n=1250

In [184]:
neigh_1250 = KNeighborsClassifier(n_neighbors=1250)

In [185]:
neigh_1250.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1250)

In [186]:
y_pred_probs_1250 = neigh_1250.predict_proba(x_valid)

In [187]:
log_loss(y_valid, y_pred_probs_1250)

0.5876750873392573

### n=1500

In [188]:
neigh_1500 = KNeighborsClassifier(n_neighbors=1500)

In [189]:
neigh_1500.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1500)

In [190]:
y_pred_probs_1500 = neigh_1500.predict_proba(x_valid)

In [191]:
log_loss(y_valid, y_pred_probs_1500)

0.5960363887286818

### Los mejores metricas se encontraron en torno a n=995

# Generacion de CSV's para subir a Kaggle

## ImportaciÃ³n del Set de Datos de Test

In [192]:
url_test="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Test_Preprocesado_TP2_Datos_2020-2C-encodeado.csv"
s=requests.get(url_test).content
df_test=pd.read_csv(io.StringIO(s.decode('utf-8')))
df_test

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Sales_Contract_No,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,20,2,2017,12173,0,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,22,8,2018,12172,0,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,22,8,2018,11408,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,4,4,2019,12232,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,4,4,2019,12233,0,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,1,1,1,1,0,21,8,2017,11758,0,...,0,0,0,1,1,0,0,0,1,1
1563,1,1,0,0,0,17,10,2018,10721,0,...,0,0,0,1,1,0,0,0,1,1
1564,1,1,1,1,0,15,10,2018,11757,0,...,0,0,0,1,1,0,0,0,1,1
1565,1,1,1,1,0,28,12,2017,10851,0,...,0,0,0,1,1,0,0,0,1,1
1566,1,1,1,1,0,28,12,2017,10880,0,...,0,0,0,1,1,0,0,0,1,1

In [193]:
x_test=df_test.drop(['Stage','Sales_Contract_No'], axis=1)