In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.legend import Legend
import matplotlib.patches as mpatches
import seaborn as sns
#from statsmodels.graphics.mosaicplot import mosaic
import io
import requests

%matplotlib inline

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import tree

from sklearn.metrics import log_loss

In [79]:
url_train="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Train_Preprocesado_TP2_Datos_2020-2C-encodeado.csv"
s=requests.get(url_train).content
df_train=pd.read_csv(io.StringIO(s.decode('utf-8')))
df_train

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Sales_Contract_No,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,1,3,2017,960,0,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,1,3,2017,959,0,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,1,3,2017,961,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,1,3,2017,956,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,19,9,2014,6985,3681,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,1,1,1,1,0,24,1,2017,535,0,...,0,0,0,1,1,0,0,0,1,1
9837,1,1,1,1,0,28,10,2018,9968,0,...,0,0,0,1,1,0,0,0,1,1
9838,1,1,1,1,0,28,10,2018,10157,0,...,0,0,0,1,1,0,0,0,1,1
9839,1,1,1,1,0,3,7,2018,8740,4645,...,0,0,0,1,1,0,0,0,1,1
9840,1,1,1,1,0,13,10,2016,3257,1080,...,0,0,0,1,1,0,0,0,1,1

In [80]:
url_test="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Test_Preprocesado_TP2_Datos_2020-2C-encodeado.csv"
s=requests.get(url_test).content
df_test=pd.read_csv(io.StringIO(s.decode('utf-8')))
df_test

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Sales_Contract_No,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,20,2,2017,12173,0,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,22,8,2018,12172,0,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,22,8,2018,11408,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,4,4,2019,12232,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,4,4,2019,12233,0,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,1,1,1,1,0,21,8,2017,11758,0,...,0,0,0,1,1,0,0,0,1,1
1563,1,1,0,0,0,17,10,2018,10721,0,...,0,0,0,1,1,0,0,0,1,1
1564,1,1,1,1,0,15,10,2018,11757,0,...,0,0,0,1,1,0,0,0,1,1
1565,1,1,1,1,0,28,12,2017,10851,0,...,0,0,0,1,1,0,0,0,1,1
1566,1,1,1,1,0,28,12,2017,10880,0,...,0,0,0,1,1,0,0,0,1,1

In [81]:
df_train.dtypes

Pricing, Delivery_Terms_Quote_Appr    int64
Pricing, Delivery_Terms_Approved      int64
Bureaucratic_Code_0_Approval          int64
Bureaucratic_Code_0_Approved          int64
Submitted_for_Approval                int64
                                      ...
Bit_ASP_Currency_0                    int64
Bit_ASP_Currency_1                    int64
Bit_ASP_Currency_2                    int64
Bit_ASP_Currency_3                    int64
Bit_ASP_(converted)_Currency_0        int64
Length: 315, dtype: object

In [82]:
df_test.dtypes

Pricing, Delivery_Terms_Quote_Appr    int64
Pricing, Delivery_Terms_Approved      int64
Bureaucratic_Code_0_Approval          int64
Bureaucratic_Code_0_Approved          int64
Submitted_for_Approval                int64
                                      ...
Bit_ASP_Currency_0                    int64
Bit_ASP_Currency_1                    int64
Bit_ASP_Currency_2                    int64
Bit_ASP_Currency_3                    int64
Bit_ASP_(converted)_Currency_0        int64
Length: 315, dtype: object

In [83]:
x_train=df_train.drop(['Stage','Sales_Contract_No'], axis=1)

In [84]:
df_train['Is_Closed_Won']=df_train.Stage.str.contains('Closed Won')

In [85]:
df_train['Is_Closed_Won'].value_counts()

True     5072
False    4769
Name: Is_Closed_Won, dtype: int64

In [86]:
y_train=df_train['Is_Closed_Won']

In [87]:
x_test=df_test.drop(['Stage','Sales_Contract_No'], axis=1)

In [88]:
x_test

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Opportunity_Created_Date_Day,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,20,2,2017,12173,4,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,22,8,2018,12172,4,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,22,8,2018,11408,11,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,4,4,2019,12232,9,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,4,4,2019,12233,9,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,1,1,1,1,0,21,8,2017,11758,5,...,0,0,0,1,1,0,0,0,1,1
1563,1,1,0,0,0,17,10,2018,10721,14,...,0,0,0,1,1,0,0,0,1,1
1564,1,1,1,1,0,15,10,2018,11757,5,...,0,0,0,1,1,0,0,0,1,1
1565,1,1,1,1,0,28,12,2017,10851,21,...,0,0,0,1,1,0,0,0,1,1
1566,1,1,1,1,0,28,12,2017,10880,23,...,0,0,0,1,1,0,0,0,1,1

In [89]:
from sklearn.neighbors import KNeighborsClassifier

In [90]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [91]:
neigh.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [92]:
y_pred = neigh.predict(x_test)

In [93]:
neigh = KNeighborsClassifier(n_neighbors=500)

In [94]:
neigh.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=500)

In [95]:
y_pred_500 = neigh.predict(x_test)

In [96]:
y_pred_probs_500 = neigh.predict_proba(x_test)

In [97]:
neigh = KNeighborsClassifier(n_neighbors=10)

In [98]:
neigh.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [99]:
y_pred_10 = neigh.predict(x_test)

In [100]:
neigh = KNeighborsClassifier(n_neighbors=100)

In [101]:
neigh.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=100)

In [102]:
y_pred_100 = neigh.predict(x_test)

In [103]:
y_pred

array([ True, False,  True, ..., False, False, False])

In [104]:
import pandas as pd
tupla1 = pd.DataFrame(columns=('Opportunity_ID', 'Target'))

In [105]:
tupla1['Opportunity_ID']=df_test['Opportunity_ID']

In [106]:
tupla1['Target']=pd.Series(y_pred)

In [107]:
tupla1['Target']=(tupla1['Target']==True).astype(int)

In [108]:
tupla1

      Opportunity_ID  Target
0              12173       1
1              12172       0
2              11408       1
3              12232       0
4              12233       1
...              ...     ...
1562           11758       0
1563           10721       1
1564           11757       0
1565           10851       0
1566           10880       0

[1567 rows x 2 columns]

In [109]:
tupla1.to_csv(r'./KNN_3neighbours.csv',index=False , header=True)

In [110]:
import pandas as pd
tupla2 = pd.DataFrame(columns=('Opportunity_ID', 'Target'))

In [111]:
tupla2['Opportunity_ID']=df_test['Opportunity_ID']

In [112]:
tupla2['Target']=pd.Series(y_pred_10)

In [113]:
tupla2['Target']=(tupla2['Target']==True).astype(int)

In [114]:
tupla2.to_csv(r'./KNN_10neighbours.csv',index=False , header=True)

In [115]:
import pandas as pd
tupla3 = pd.DataFrame(columns=('Opportunity_ID', 'Target'))

In [116]:
tupla3['Opportunity_ID']=df_test['Opportunity_ID']

In [117]:
tupla3['Target']=pd.Series(y_pred_100)

In [118]:
tupla3['Target']=(tupla3['Target']==True).astype(int)

In [119]:
tupla3.to_csv(r'./KNN_100neighbours.csv',index=False , header=True)

In [120]:
X = df_train.drop(['Stage','Sales_Contract_No'], axis=1)

In [121]:
y = df_train['Stage']

In [122]:
from sklearn.model_selection import train_test_split

x_entrenamiento, x_prueba, y_entrenamiento, y_prueba = \
    train_test_split(X, y, test_size=0.2, random_state=123)

In [123]:
neigh = KNeighborsClassifier(n_neighbors=500)

In [124]:
neigh.fit(x_entrenamiento, y_entrenamiento)

KNeighborsClassifier(n_neighbors=500)

In [125]:
y_pred_500 = neigh.predict(x_prueba)

In [126]:
accuracy_score(y_prueba, y_pred_500)

0.6764855256475368

In [127]:
neigh = KNeighborsClassifier(n_neighbors=1000)

In [128]:
neigh.fit(x_entrenamiento, y_entrenamiento)

KNeighborsClassifier(n_neighbors=1000)

In [129]:
y_pred_1000 = neigh.predict(x_prueba)

In [130]:
accuracy_score(y_prueba, y_pred_1000)

0.6729304215337735

In [131]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [132]:
log_loss(y_prueba, y_pred_probs)

0.659849024250576

In [133]:
import pandas as pd
tupla4 = pd.DataFrame(columns=('Opportunity_ID', 'Target'))

In [134]:
tupla4['Opportunity_ID']=df_test['Opportunity_ID']

In [135]:
tupla4['Target']=pd.Series(y_pred_probs)

Exception: Data must be 1-dimensional

In [ ]:
tupla4['Target']=(tupla4['Target']==True).astype(int)

In [ ]:
tupla4.to_csv(r'./KNN_1000n.csv',index=False , header=True)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=50)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_50 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_50)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=40)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_40 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_40)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=100)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_100 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_100)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=70)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_70 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_70)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=2000)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_2000 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_2000)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
tupla5['Opportunity_ID']=df_test['Opportunity_ID']

In [ ]:
tupla5['Target']=pd.Series(y_pred_probs)

In [ ]:
tupla5['Target']=(tupla5['Target']==True).astype(int)

In [ ]:
tupla5.to_csv(r'./KNN_2000n.csv',index=False , header=True)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=60)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_60 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_60)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=5000)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_5000 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_5000)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=45)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_45 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_45)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=55)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_55 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_55)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=57)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_57 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_57)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=53)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_53 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_53)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=54)

In [ ]:
neigh.fit(x_entrenamiento, y_entrenamiento)

In [ ]:
y_pred_54 = neigh.predict(x_prueba)

In [ ]:
accuracy_score(y_prueba, y_pred_54)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)

In [ ]:
tupla3['Opportunity_ID']=df_test['Opportunity_ID']

In [ ]:
tupla3['Target']=pd.Series(y_pred_55)

In [ ]:


tupla3['Target']=(tupla3['Target']==True).astype(int)

In [ ]:


tupla3.to_csv(r'./KNN_55neighbours.csv',index=False , header=True)

In [ ]:
y_pred_probs = neigh.predict_proba(x_prueba)

In [ ]:
log_loss(y_prueba, y_pred_probs)