In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.legend import Legend
import matplotlib.patches as mpatches
import seaborn as sns
#from statsmodels.graphics.mosaicplot import mosaic
import io
import requests

%matplotlib inline

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import tree

from sklearn.metrics import log_loss

# Importaci√≥n del set de datos de entrenamiento

In [2]:
url_train="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Train_Preprocesado_TP2_Datos_2020-2C-encodeado.csv"
s=requests.get(url_train).content
df_train=pd.read_csv(io.StringIO(s.decode('utf-8')))
df_train

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Sales_Contract_No,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,1,3,2017,960,0,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,1,3,2017,959,0,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,1,3,2017,961,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,1,3,2017,956,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,19,9,2014,6985,3681,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,1,1,1,1,0,24,1,2017,535,0,...,0,0,0,1,1,0,0,0,1,1
9837,1,1,1,1,0,28,10,2018,9968,0,...,0,0,0,1,1,0,0,0,1,1
9838,1,1,1,1,0,28,10,2018,10157,0,...,0,0,0,1,1,0,0,0,1,1
9839,1,1,1,1,0,3,7,2018,8740,4645,...,0,0,0,1,1,0,0,0,1,1
9840,1,1,1,1,0,13,10,2016,3257,1080,...,0,0,0,1,1,0,0,0,1,1

# Creaci√≥n de un set de validaci√≥n

In [3]:
X = df_train.drop(['Stage','Sales_Contract_No'], axis=1)

In [4]:
y = df_train['Stage']

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = \
    train_test_split(X, y, test_size=0.2, random_state=123)

In [6]:
x_train

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Opportunity_Created_Date_Day,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
4886,0,0,0,0,0,3,9,2015,12589,3,...,0,0,1,1,1,0,0,1,1,1
9098,1,1,0,0,0,20,4,2015,1700,11,...,0,1,0,1,1,0,1,0,1,1
1109,1,1,1,1,0,9,9,2014,362,9,...,0,0,0,1,1,0,0,0,1,1
4766,1,1,1,1,0,11,8,2016,8800,10,...,0,0,1,1,1,0,0,1,1,1
4686,1,0,1,0,0,11,8,2016,2489,14,...,0,0,1,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9785,1,1,1,1,0,8,1,2017,593,31,...,0,0,0,1,1,0,0,0,1,1
7763,1,1,1,1,0,27,7,2013,8743,4,...,0,0,1,1,1,0,0,1,1,1
5218,1,1,1,1,0,21,8,2013,5213,16,...,0,0,1,1,1,0,0,1,1,1
1346,0,0,0,0,0,19,2,2016,2325,22,...,0,0,0,1,1,0,0,0,1,1
3582,1,1,1,1,0,22,8,2013,4588,8,...,0,0,0,1,1,0,0,0,1,1

# Etapa de tuning para determinar el mejor valor de n

In [7]:
from sklearn.neighbors import KNeighborsClassifier

### n=10

In [8]:
neigh_10 = KNeighborsClassifier(n_neighbors=10)

In [9]:
neigh_10.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [10]:
y_pred_probs_10 = neigh_10.predict_proba(x_valid)

In [11]:
log_loss(y_valid, y_pred_probs_10)

1.2077923589485848

### n=100

In [12]:
neigh_100 = KNeighborsClassifier(n_neighbors=100)

In [13]:
neigh_100.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=100)

In [14]:
y_pred_probs_100 = neigh_100.predict_proba(x_valid)

In [15]:
log_loss(y_valid, y_pred_probs_100)

0.6954574820457287

### n=500

In [16]:
neigh_500 = KNeighborsClassifier(n_neighbors=500)

In [17]:
neigh_500.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=500)

In [18]:
y_pred_probs_500 = neigh_500.predict_proba(x_valid)

In [19]:
log_loss(y_valid, y_pred_probs_500)

0.6841464181886924

### n=1000

In [20]:
neigh_1000 = KNeighborsClassifier(n_neighbors=1000)

In [21]:
neigh_1000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1000)

In [22]:
y_pred_probs_1000 = neigh_1000.predict_proba(x_valid)

In [23]:
log_loss(y_valid, y_pred_probs_1000)

0.659849024250576

### n=3000

In [24]:
neigh_3000 = KNeighborsClassifier(n_neighbors=3000)

In [25]:
neigh_3000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3000)

In [26]:
y_pred_probs_3000 = neigh_3000.predict_proba(x_valid)

In [27]:
log_loss(y_valid, y_pred_probs_3000)

0.6824029321353886

### n=5000

In [28]:
neigh_5000 = KNeighborsClassifier(n_neighbors=5000)

In [29]:
neigh_5000.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=5000)

In [30]:
y_pred_probs_5000 = neigh_5000.predict_proba(x_valid)

In [31]:
log_loss(y_valid, y_pred_probs_5000)

0.7126729090128147

## Aumentamos la resoluci√≥n de la b√∫squeda entre n=500 y n=3000

### Se realizar√° a continuaci√≥n una suerte de b√∫squeda binaria manual

### n=500

In [32]:
log_loss(y_valid, y_pred_probs_500)

0.6841464181886924

### n=750

In [33]:
neigh_750 = KNeighborsClassifier(n_neighbors=750)

In [34]:
neigh_750.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=750)

In [35]:
y_pred_probs_750 = neigh_750.predict_proba(x_valid)

In [36]:
log_loss(y_valid, y_pred_probs_750)

0.6716475310040587

### n=900

In [37]:
neigh_900 = KNeighborsClassifier(n_neighbors=900)

In [38]:
neigh_900.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=900)

In [39]:
y_pred_probs_900 = neigh_900.predict_proba(x_valid)

In [40]:
log_loss(y_valid, y_pred_probs_900)

0.6725316212542759

### n=950

In [41]:
neigh_950 = KNeighborsClassifier(n_neighbors=950)

In [42]:
neigh_950.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=950)

In [43]:
y_pred_probs_950 = neigh_950.predict_proba(x_valid)

In [44]:
log_loss(y_valid, y_pred_probs_950)

0.6733215390896455

### n=975

In [45]:
neigh_975 = KNeighborsClassifier(n_neighbors=975)

In [46]:
neigh_975.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=975)

In [47]:
y_pred_probs_975 = neigh_975.predict_proba(x_valid)

In [48]:
log_loss(y_valid, y_pred_probs_975)

0.6734862748504019

### n=987

In [49]:
neigh_987 = KNeighborsClassifier(n_neighbors=987)

In [50]:
neigh_987.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=987)

In [51]:
y_pred_probs_987 = neigh_987.predict_proba(x_valid)

In [52]:
log_loss(y_valid, y_pred_probs_987)

0.6736023706885665

### n=992

In [53]:
neigh_992 = KNeighborsClassifier(n_neighbors=992)

In [54]:
neigh_992.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=992)

In [55]:
y_pred_probs_992 = neigh_992.predict_proba(x_valid)

In [56]:
log_loss(y_valid, y_pred_probs_992)

0.6597705690386901

### n=995

In [57]:
neigh_995 = KNeighborsClassifier(n_neighbors=995)

In [58]:
neigh_995.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=995)

In [59]:
y_pred_probs_995 = neigh_995.predict_proba(x_valid)

In [60]:
log_loss(y_valid, y_pred_probs_995)

0.6597389168214168

### n=997

In [61]:
neigh_997 = KNeighborsClassifier(n_neighbors=997)

In [62]:
neigh_997.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=997)

In [63]:
y_pred_probs_997 = neigh_997.predict_proba(x_valid)

In [64]:
log_loss(y_valid, y_pred_probs_997)

0.6597522847126069

### n=1000

In [65]:
log_loss(y_valid, y_pred_probs_1000)

0.659849024250576

### n=1005

In [66]:
neigh_1005 = KNeighborsClassifier(n_neighbors=1005)

In [67]:
neigh_1005.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1005)

In [68]:
y_pred_probs_1005 = neigh_1005.predict_proba(x_valid)

In [69]:
log_loss(y_valid, y_pred_probs_1005)

0.6599080314745647

### n=1012

In [70]:
neigh_1012 = KNeighborsClassifier(n_neighbors=1012)

In [71]:
neigh_1012.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1012)

In [72]:
y_pred_probs_1012 = neigh_1012.predict_proba(x_valid)

In [73]:
log_loss(y_valid, y_pred_probs_1012)

0.6601533770858298

### n=1025

In [74]:
neigh_1025 = KNeighborsClassifier(n_neighbors=1025)

In [75]:
neigh_1025.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1025)

In [76]:
y_pred_probs_1025 = neigh_1025.predict_proba(x_valid)

In [77]:
log_loss(y_valid, y_pred_probs_1025)

0.6603893881944938

### n=1050

In [78]:
neigh_1050 = KNeighborsClassifier(n_neighbors=1050)

In [79]:
neigh_1050.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1050)

In [80]:
y_pred_probs_1050 = neigh_1050.predict_proba(x_valid)

In [81]:
log_loss(y_valid, y_pred_probs_1050)

0.660246422132073

### n=1100

In [82]:
neigh_1100 = KNeighborsClassifier(n_neighbors=1100)

In [83]:
neigh_1100.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1100)

In [84]:
y_pred_probs_1100 = neigh_1100.predict_proba(x_valid)

In [85]:
log_loss(y_valid, y_pred_probs_1100)

0.66070089550846

### n=1250

In [86]:
neigh_1250 = KNeighborsClassifier(n_neighbors=1250)

In [87]:
neigh_1250.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1250)

In [88]:
y_pred_probs_1250 = neigh_1250.predict_proba(x_valid)

In [89]:
log_loss(y_valid, y_pred_probs_1250)

0.6625196282697903

### n=1500

In [90]:
neigh_1500 = KNeighborsClassifier(n_neighbors=1500)

In [91]:
neigh_1500.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1500)

In [92]:
y_pred_probs_1500 = neigh_1500.predict_proba(x_valid)

In [93]:
log_loss(y_valid, y_pred_probs_1500)

0.6651854701283098

### Los mejores metricas se encontraron en torno a n=995

# Generacion de CSV's para subir a Kaggle

## Importaci√≥n del Set de Datos de Test

In [94]:
url_test="https://raw.githubusercontent.com/joacols/TP_orga_de_datos/main/Test_Preprocesado_TP2_Datos_2020-2C-encodeado.csv"
s=requests.get(url_test).content
df_test=pd.read_csv(io.StringIO(s.decode('utf-8')))
df_test

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Account_Created_Date_Day,Account_Created_Date_Month,Account_Created_Date_Year,Opportunity_ID,Sales_Contract_No,...,Bit_Total_Taxable_Amount_Currency_0,Bit_Total_Taxable_Amount_Currency_1,Bit_Total_Taxable_Amount_Currency_2,Bit_Total_Taxable_Amount_Currency_3,Bit_Prod_Category_A_0,Bit_ASP_Currency_0,Bit_ASP_Currency_1,Bit_ASP_Currency_2,Bit_ASP_Currency_3,Bit_ASP_(converted)_Currency_0
0,0,0,0,0,0,20,2,2017,12173,0,...,0,0,0,1,1,0,0,0,1,1
1,0,0,0,0,0,22,8,2018,12172,0,...,0,0,0,1,1,0,0,0,1,1
2,0,0,0,0,0,22,8,2018,11408,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,0,4,4,2019,12232,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,0,0,4,4,2019,12233,0,...,0,0,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,1,1,1,1,0,21,8,2017,11758,0,...,0,0,0,1,1,0,0,0,1,1
1563,1,1,0,0,0,17,10,2018,10721,0,...,0,0,0,1,1,0,0,0,1,1
1564,1,1,1,1,0,15,10,2018,11757,0,...,0,0,0,1,1,0,0,0,1,1
1565,1,1,1,1,0,28,12,2017,10851,0,...,0,0,0,1,1,0,0,0,1,1
1566,1,1,1,1,0,28,12,2017,10880,0,...,0,0,0,1,1,0,0,0,1,1

In [95]:
x_test=df_test.drop(['Stage','Sales_Contract_No'], axis=1)

## Entrenamiento en base al set train original

### n=995

In [96]:
neigh_995_csv = KNeighborsClassifier(n_neighbors=995)

In [97]:
neigh_995_csv.fit(X, y)

KNeighborsClassifier(n_neighbors=995)

In [98]:
y_pred_probs_995_csv = neigh_995_csv.predict_proba(x_test)[:,1]

### n=997

In [99]:
neigh_997_csv = KNeighborsClassifier(n_neighbors=997)

In [100]:
neigh_997_csv.fit(X, y)

KNeighborsClassifier(n_neighbors=997)

In [101]:
y_pred_probs_997_csv = neigh_997_csv.predict_proba(x_test)[:,1]

### n=992

In [106]:
neigh_992_csv = KNeighborsClassifier(n_neighbors=992)

In [107]:
neigh_992_csv.fit(X, y)

KNeighborsClassifier(n_neighbors=992)

In [108]:
y_pred_probs_992_csv = neigh_992_csv.predict_proba(x_test)[:,1]

### n=1000

In [109]:
neigh_1000_csv = KNeighborsClassifier(n_neighbors=1000)

In [110]:
neigh_1000_csv.fit(X, y)

KNeighborsClassifier(n_neighbors=1000)

In [111]:
y_pred_probs_1000_csv = neigh_1000_csv.predict_proba(x_test)[:,1]

### n=1005

In [112]:
neigh_1005_csv = KNeighborsClassifier(n_neighbors=1005)

In [113]:
neigh_1005_csv.fit(X, y)

KNeighborsClassifier(n_neighbors=1005)

In [114]:
y_pred_probs_1005_csv = neigh_1005_csv.predict_proba(x_test)[:,1]

## Exportaci√≥n de los csv's buscados

In [115]:
#Creo un dataframe con el formato ( id , precio (El precio predecido ))
prediccio_997 = df_test['Opportunity_ID'].to_frame()
prediccio_997.insert(1,'Target', y_pred_probs_997_csv , True) 
#Exportamos la prediccio_997 en formato csv sin labels
prediccio_997.to_csv(r'./knn_997.csv',index=False , header=True)
prediccio_997.head()

   Opportunity_ID    Target
0           12173  0.707121
1           12172  0.694082
2           11408  0.669007
3           12232  0.663992
4           12233  0.652959

In [116]:
#Creo un dataframe con el formato ( id , precio (El precio predecido ))
prediccio_995 = df_test['Opportunity_ID'].to_frame()
prediccio_995.insert(1,'Target', y_pred_probs_995_csv , True) 
#Exportamos la prediccio_995 en formato csv sin labels
prediccio_995.to_csv(r'./knn_995.csv',index=False , header=True)
prediccio_995.head()

   Opportunity_ID    Target
0           12173  0.706533
1           12172  0.693467
2           11408  0.669347
3           12232  0.664322
4           12233  0.654271

In [117]:
#Creo un dataframe con el formato ( id , precio (El precio predecido ))
prediccio_992 = df_test['Opportunity_ID'].to_frame()
prediccio_992.insert(1,'Target', y_pred_probs_992_csv , True) 
#Exportamos la prediccio_992 en formato csv sin labels
prediccio_992.to_csv(r'./knn_992.csv',index=False , header=True)
prediccio_992.head()

   Opportunity_ID    Target
0           12173  0.705645
1           12172  0.692540
2           11408  0.668347
3           12232  0.665323
4           12233  0.655242

In [118]:
#Creo un dataframe con el formato ( id , precio (El precio predecido ))
prediccio_1000 = df_test['Opportunity_ID'].to_frame()
prediccio_1000.insert(1,'Target', y_pred_probs_1000_csv , True) 
#Exportamos la prediccio_1000 en formato csv sin labels
prediccio_1000.to_csv(r'./knn_1000.csv',index=False , header=True)
prediccio_1000.head()

   Opportunity_ID  Target
0           12173   0.708
1           12172   0.693
2           11408   0.667
3           12232   0.664
4           12233   0.651

In [119]:
#Creo un dataframe con el formato ( id , precio (El precio predecido ))
prediccio_1005 = df_test['Opportunity_ID'].to_frame()
prediccio_1005.insert(1,'Target', y_pred_probs_1005_csv , True) 
#Exportamos la prediccio_1005 en formato csv sin labels
prediccio_1005.to_csv(r'./knn_1005.csv',index=False , header=True)
prediccio_1005.head()

   Opportunity_ID    Target
0           12173  0.709453
1           12172  0.693532
2           11408  0.665672
3           12232  0.663682
4           12233  0.648756